@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1600065630083'); /* IE9 */
  src: url('iconfont.eot?t=1600065630083#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABlQAAAJUAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApUbQE2AiQDCAsGAAQgBYRtBzsbngXIHpIkRSiIeQRCUSAAEA9PY7X3Z2ZV06nFi+eQRRMZjzSvJEiQGkRKEet4Je/VXG4RZOXaUki+KgCpJA97CV+OSopVx7+RVQbQtsK1JlcPrqmfQA+yOqC5ZCRWAE5woB24JtuAhrxh7IIXeJ5A04IZHedXto6gX2FPC8SDJKpDf8GvKCxVF6oNa4t4paKeXqQXAC+j78df8KJOUsnsiku3llsw9yOcjPx89tzNABEgoM0VZOwBhbjWGL+gSzCqSzPebQUcqzT40TGbBUZxVJ1gf51d3AZzkP9MAk/4qMUJlMQ+AXrVpEeS2o1HPx+OPn6d/P3006ezt1+330+fNx9oXna+ftMpxm9/mYh/JuJkG9ptcTg3vjm+AZvgBCfzNM9b7yeP303sB2MH/+utAr4/uj7WFsOcoL4rR/BLBAO7iiGyDalogkZnMpk0NaGpiRnsHvqbqp6cPx3qJndhqDlmMVndWoYWcg8qWvahqu4Ymnatbm4ZkbpEaWDHI4DQ9wxJ13vI+l7RQv5CxdQ/VPUjQ9ONGO3ZshF3B89JqmtqYeMKkyYvmWvSg3HpAUUmr8u8KKKdkFRJCF3LKadWqSS5xAJ1HnlaM2SSF7gCLqM851hJnlJTW7HWVc22WdObrCYvYNA5EqnTSAtquIISTVyJBYO1wcrnD5CIkauTHXV19hNEUpLhkcviDEBX5eWguke5RjkX8WgagxiJK6AVMIrkchyqmkelSJNmiSdEKzW2048NlVvbK4sfyGNN2JoUzpHZ4KFpJHV+HSfXhhe8US8BAAAA') format('woff2'),
  url('iconfont.woff?t=1600065630083') format('woff'),
  url('iconfont.ttf?t=1600065630083') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1600065630083#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiaozhizuomoban:before {
  content: "\e601";
}

